
/* ====:GLOBAL:==== */
body {
  margin: 0;
  background: #353b48;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ====Component:NAVIGATION==== */
.navigationContainer {
  flex-grow: 1;
}

.navigationLogo {
  width: 100px;
  height: 50px;
}

.navigationLinkd {
  flex-grow: 1;
}

.navigationOption {
  padding: 0 20px;
}


/* ====Page:HOME==== */
.homeContainer {
  text-align: center;
}
